 
*{box-sizing: border-box;}

body{
    background-color:peachpuff;
    margin: 0%;


} 

header p{
    color:teal;
    
    
}
header div{
    
    
display: block;
height: 10vh;
 width: 100%;
    
}

header nav ul  li {
    
   font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 2vh;
    
    display:inline-block;
    
    
}
nav{
    padding: 5%;
    padding-left: 0vh;
    
    margin-top:  0vh;
   
    
   
}
h1{
   
   font-size: 40px; 
   color: purple;
  
   display: inline-block;
   position: absolute;
   top: 2vh;
   left: 70vh;
  
}
article div img{
    width: 30vh;
    height: 30vh;
    
    
}
article div{
    width: 35vh;
    height: 50vh;
    margin-top:  5vh; 
     display: inline-block;
     margin: 10vh;
     padding: 3vh;
    
}
section{
    display:inline-block;
    margin-top: 10vh;
    margin-bottom: 15vh;
    width: 100%;
    width: 100%;
}
article{
    display: inline-block;
    margin-left:30vh;
}
section h2{
    font-family: fantasy;
    color: purple;
    text-align: center;
    font-size: 40px;
}
section p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: 10vh;
}

#last{
    margin-left:  10%;
}
a {
text-decoration-line: none;
}
p{
    font-size: 20px;
    color:teal;
}

table
tr,

td {
  border: 1px solid;
border-color: white;
}
#logo{
    display: inline-block;
}